.icon {
  width: 64px;
  vertical-align: top;
  border: 1px solid salmon;
}

canvas {
  border-radius: 15px;
  border: 1px solid black;
}

.selectedTool {
  background-color: lightblue;
  border: 2px solid blue;
}
